<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25662537538-1qjc3d40hioqkn70mkgdueig217bkvts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25662537538-1qjc3d40hioqkn70mkgdueig217bkvts</string>
	<key>API_KEY</key>
	<string>AIzaSyBT5nF6QACqRYRZVHL-zrVDOGd-YodC_4w</string>
	<key>GCM_SENDER_ID</key>
	<string>25662537538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.server.deeplyFlutter</string>
	<key>PROJECT_ID</key>
	<string>deeply-b5979</string>
	<key>STORAGE_BUCKET</key>
	<string>deeply-b5979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25662537538:ios:c8f06b5fdd2e233c7f12db</string>
	<key>DATABASE_URL</key>
	<string>https://deeply-b5979-default-rtdb.firebaseio.com</string>
</dict>
</plist>